.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    box-sizing: border-box;
}

/* SIDEBAR */ 
.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
    color: white;
    font-size: 18px;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.branding {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    padding-left: 30px;
    padding-right: 15px;
}
.navigation {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

li img {
    max-height: 18px;
    padding-left: 15px;
    padding-right: 25px;
}

li {
    display: flex;
    align-items: center;
    list-style-type: none;
    line-height: 2;
}

/* HEADER */
.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 5px 30px;
    height: 20vh;
}

.searchbar {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    width: 40vw;
    background-color: rgb(240, 237, 237);
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.searchbar-info {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.searchbar-info img {
    max-height: 40px;
}

.userinfo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.userinfo-image {
   grid-column: 1 / 2;
   place-self: center;
   padding-left: 30px;
}

.userinfo-text {
    grid-column: 2 / 3;
    align-content: center;
}

.userinfo-text h2 , .userinfo-text p {
    margin: 0;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.buttons button {
    background-color: lightblue;
    color: white;
    border: none;
    width: 100px;
    padding: 10px 20px;
    border-radius: 20px;
}

/* MAIN CONTENT */
.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #eeeee7;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(2, auto);
    height: 80vh;
    padding: 0 20px;
}

.projects-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #eeeee7;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border-left: solid 7px rgb(234, 171, 76);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 150px;
}

.side-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: #eeeee7;
    padding-left: 20px;
}

.announcements, .trending {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
}

.trending li {
    gap: 15px;
    padding: 1px;
}

.trending ul {
    padding: 0;
}

.trending-icon {
    min-height: 40px;
    padding: 0;  
}

.footer a {
    text-decoration: none;
}

.footer {
    padding-left: 10px;
}